#s3-toolbarbutton {
    list-style-image: url("s3.png");
    -moz-image-region: rect( 0px 24px 24px  0px);
}

#s3-toolbarbutton:hover {
    -moz-image-region: rect(24px 24px 48px  0px);
}

#s3bar-setup {
    list-style-image: url("16-security-key.png");
}

#s3bar-refresh {
    list-style-image: url("arrow_refresh.png");
}

#s3bar-refresh label,
#s3bar-setup label {
    display: none;
}
