body {
  padding: 10px 20px;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

table {
  width: 100%;
}

tr th {
  text-align: left;
}

#account {
  border: 1px solid #333;
  width: 400px;
  margin: 10px auto;
  background: #fff;
}

h2 {
  text-align: center;
}

#account label {
  font-weight: bold;
  font-size: 1.25em;
  width: 150px;
  padding-right: 10px;
  text-align: right;
  display: block;
  float: left;
}

#account div {
  padding-bottom: 10px;
}

#active {
  background: #fff;
  -moz-border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px 0;
}

#active h2 {
  float: right;
  color: #888;
  font-weight: normal;
}

#setup {
  background: url(16-security-key.png) no-repeat center left;
  padding: 4px 20px;
}
