body {
  padding: 10px 20px;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#active table {
  width: 100%
}

tr:hover td {
  background-color:#f8f8f8;
}

tr th {
  text-align: left;
}

h2 {
  text-align: center;
}

#credentials label {
  display: block;
  margin: 0 auto;
  padding-right: 10px;
}

#credentials div {
  padding-bottom: 10px;
}

#active {
  background: #fff;
  -moz-border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px 0;
  min-height: 100px;
}

#active h2 {
  float: right;
  color: #888;
  font-weight: normal;
}

#help {
  background: url(help.png) no-repeat center left;
  padding: 4px 20px;
}

#updateCredentials {
  background: url(key.png) no-repeat center left;
  padding: 4px 20px;
}

#createBucket {
  background: url(add.png) no-repeat center left;
  padding: 4px 20px;
}

#active.busy {
  background: #fff url(big-spinner.gif) no-repeat center center;
}

.delete {
  text-decoration: none;
  background: #fff url(delete.png) no-repeat center left;
  padding: 2px 4px 2px 20px;
  border: 1px solid #888;
  font-size: 12px;
  color: #888;
}

.delete:hover {
  border-color: #000;
  color: #f00;
}

tr:hover .delete {
  display: inline !important;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
}