#s3bar-setup {
    list-style-image: url("16-security-key.png");
}

#s3bar-refresh {
    list-style-image: url("arrow_refresh.png");
}

#s3bar-refresh label,
#s3bar-setup label {
    display: none;
}
