body {
  background: #eee;
  margin: 20px;
}

table {
  width: 100%;
}

#uploads, #active {
  background: #fff;
  -moz-border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  min-height: 100px;
}

#active.busy {
  background: #fff url(big-spinner.gif) no-repeat center center;
}

#keylist td {
  padding: 3px 0;
}

#keylist tr:hover td {
  background-color:#f8f8f8;
}

tr .delete {
    display: none;
}

tr:hover .delete {
  display: inline;
  text-decoration: none;
  background: #fff url(delete.png) no-repeat center left;
  padding: 2px 4px 2px 20px;
  border: 1px solid #888;
  font-size: 12px;
  color: #888;
}

.delete:hover {
  border-color: #000;
  color: #f00;
}

#upload {
  list-style-image: url("chrome://s3/skin/arrow_up.png");
  padding: 2px;
  font-size: 16px;
  margin-right: 10px;
}

#upload:hover {
  color: #080;
}

#header
{
  margin-top: 10px
}

label.text-link.s3
{
  -moz-binding:  url("chrome://s3/content/s3.xml#s3-link");
  -moz-user-focus: normal;
}

#location
{
  padding-left: 10px
}

#location label
{
  margin: 7px 0;
  font-size: 1.5em
}

#active
{
  overflow: auto;
  max-height: 500px; /* FIXME */
}
