body {
  background: #eee;
  margin: 20px;
}

table {
  width: 100%;
}

#active {
  background: #fff;
  -moz-border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px 0;
  min-height: 100px;
}

#active.busy {
  background: #fff url(big-spinner.gif) no-repeat center center;
}

#keylist td {
  padding: 3px 0;
}

#keylist tr:hover td {
  background-color:#f8f8f8;
}

.upload_label {
  font-weight: bold;
}

.upload_box {
  position: absolute;
  top: 20px;
  padding: 10px;
  right: 20px;
}

.upload_box input {
  font-weight: bold;
}

.delete {
  text-decoration: none;
  background: #fff url(delete.png) no-repeat center left;
  padding: 2px 4px 2px 20px;
  border: 1px solid #888;
  font-size: 12px;
  color: #888;
}

.delete:hover {
  border-color: #000;
  color: #f00;
}

.upload {
  text-decoration: none;
  background: #fff url(arrow_up.png) no-repeat center left;
  padding: 2px 4px 2px 20px;
  border: 1px solid #888;
  font-size: 18px;
  color: #888;
}

.upload:hover {
  border-color: #000;
  color: #080;
}